/* @import url('https://fonts.googleapis.com/css?family=Nunito'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin:0;
    font-family: 'Nunito', sans-serif,fantasy;
}

/* ======= style for home page start here ==========  */
main section div.body-banner{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../imgs/hero_2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
main section div.body-banner div > div#body-contents{
    animation: slide-in 2s;
}
@keyframes slide-in{
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
main section div.body-banner div > div#body-contents h1{
    font-size: 5em;
    text-transform: capitalize;
    font-weight: 900 !important;
}

main section div.body-banner div > div#body-contents div#btn-holder{
    display:  grid;
    grid-template-columns: 30% 30%;
    gap: 15px;
}
main section div.body-banner div > div#body-contents div#btn-holder button#btn-shop-now{
    display: block;
    height: 3.7em;
    background: inherit;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    outline: none;
    font-weight: bolder;
}
main section div.body-banner div > div#body-contents div#btn-holder button#btn-shop-now:hover{
    background: #fff;
    color: #000;
}
main section div.body-banner div > div#body-contents div#btn-holder button#btn-membership{
    display: block;
    height: 3.7em;
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    text-transform: uppercase;
    outline: none;
    font-weight: bolder;
}
main section div.body-banner div > div#body-contents div#btn-holder button#btn-membership:hover{
    background: inherit;
    color: #fff;
}
/* ======= style for home page end here ==========  */

/* ======= style about product page start here ==========  */
section div div p.product-article{
    margin: 0px auto;
    color: #8B8080;
}
section div.product-container{
    height: auto;
    width: 100%;
}
section div.product-container div.product-items{
   display: grid;
   grid-template-columns: repeat(3, 30%);
   gap: 50px;
   align-items: center;
   justify-content: center;
}
section div div.product-items div figure > img.products{
    height: auto;
    max-width: 100%;
}
section div div.product-items div h3 > a.product-name-link{
    color: #000;
    font-size: 15px;
    font-weight: bolder;
}
section div div.product-items div h3 > a.product-name-link:hover{
    color: #475BBC;
}
section div div.product-items div p{
    color: #8B8080;
}
section div div.product-items div > div.btn-cart-view{
    display: grid;
    grid-template-columns: repeat(2,30%);
    gap: 10px;
    align-items: center;
    justify-content: center;
}
section div div.product-items div > div.btn-cart-view > button, button.btn-details,button.btn-learn-more{
    text-transform: uppercase;
    outline: none;
}
section div div.product-items div > div.btn-cart-view > button.btn-cart, button.btn-add-to-cart,button.btn-learn-more{
    border: 2px solid #000;
    background: #000;
    color: #fff;
}
section div div.product-items div > div.btn-cart-view > button.btn-view, 
button.btn-view-details{
    border: 2px solid #000;
    background: #fff;
}
section div div.product-items div > div.btn-cart-view > button.btn-cart:hover, 
button.btn-add-to-cart:hover,button.btn-learn-more:hover{
    background: #fff;
    color: #000 !important;
}
section div div.product-items div > div.btn-cart-view > button.btn-view:hover, 
button.btn-view-details:hover{
    background: #000;
    color: #fff !important;
}
section > div.product-details-page{
    background: #F8F9FA;;
}
section > div.product-details-page > div.product-1{
    width: 80%;
    background: #fff;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 20px;
    justify-content: center;
}
section > div.product-details-page > div.product-1 > figure > img{
    height: auto;
    width: 100%;
}
section > div.product-details-page > div.product-1 div.product1-details > h1{
    font-weight: bolder;
}
section > div.product-details-page > div.product-1 div.product1-details > p {
    text-align: left;
    color: #8B8080;
}
section > div.product-details-page > div.product-1 div.product1-details > div > div{
    color: #8B8080;
}
section > div.product-details-page > div.product-1 div.product1-details > div div ~ div{
    display: grid;
    grid-template-columns: repeat(2,30%);
    gap: 10px;
}
/* ======= style about product page end here ==========  */

/* ========== style about page start here ============= */
section div div.about-holder {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 60px;
    padding: 0px 100px;
    align-items: center;
}
section div div.about-holder div > figure img {
    height: auto;
    width: 100%;
}
section div div.about-holder > div + div  > h5, p.about-article{
    color: #8B8080;
}
/* ========== style about page end here ============= */

/* ========== style for team page start here ============= */
section div.con-team{
    padding: 50px 100px;
}
section div.con-team div.team-row{
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
section div.con-team div.team-row div > figure > img{
    height: auto;
    max-width: 100%;
}
/* ========== style for team page end here ============= */

/* ======= contact page start here ========== */
section div.contact-con{
    padding: 50px 100px;
    background: #F8F9FA;
}
section div.contact-con div.contact-us{
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 60px;
    margin: 0px auto;
}
section div.contact-con div.contact-us > div.form-con, div.contact-address{
    background: #fff;
}
section div.contact-con div.contact-us div div > div.socail-media-handle{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 10px;
    justify-items: center;
}
/* ======= contact page end here ========== */

/* ======= footer page start here ========== */
footer{
    color: #fff;
}





header{
    grid-column: 1/-1;
    
}

header > div{
    font-weight: bold;
    padding-top: 0.8em;
    padding-left: 4em;;
}

header{
    display: flex;
    justify-content: space-between;
}


nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    padding-right: 4em;
    list-style: none;

}

nav ul li a{
    color:black;
    padding:0.7em;
    transition: 1s ease;
}





nav ul li a:hover{
    color:white;
    background:black
}



.about{
    grid-column: 1/-1;
    display: grid;
   
}

.about > div{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 450px;
}

.about h2{
    grid-column: 1/-1;
    text-align: center;

}

.about_pic{
    grid-column: 2/8;
    grid-row: 2/5;
    background: url('../img/about_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.about article{
    grid-column: 9/12;
    
}


article{
    display: flex;
    align-items: center;
}


article a{
    background:black;
    color: white;
    padding:0.6em;
}


article p{
    line-height: 1.5em;
    padding-bottom: 1em;
    text-align: start;
}

footer{
    /* text-align: center; */
    margin: auto auto;
}


/* PRODUCTS PAGE */

.container_2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto 2fr
}



.main_2{
    grid-column: 1/-1;
    padding-top: 3em;
    
    
}

.main_2 > h1, p{
    text-align: center;
}

.main_2 >p{
    padding-left: 10em;
    padding-right: 10em;
}


.content{
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:30px;
    grid-auto-rows: auto;
}

.content > div{
    text-align: center;
}

.content img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


/* carts image */

.container_3{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto 2fr
}


.container_3 > *{
    grid-column: 1/-1;
}

.container_3 > section{
    padding-top: 2em;
}


@media screen and (max-width:299px) and (min-width: 200px) {
    section div.con-team div.team-row{
        display: grid;
        grid-template-columns: 80%;
    }
    section div.con-team div.team-row div > figure > img{
        height: auto;
        width: 100%;
    }
}


